body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 30px;
    color: gray;
}

h2{
    font-size: 30px;
    color: gray;
    font-weight: 600;

}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    align-items: center;
    margin-bottom: 90px;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width p{
    margin-bottom: 30px;
}

.half-width img{
    width: 90%;
}

.btn{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background: linear-gradient(to left, orange, tomato);
    padding: 15px 35px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px orange;
}

.about-section{
    background-image: url(./images/shapes/58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.recipies-header-text{
    text-align: center;
    width: 50%;
    margin: 20px auto;
}

.recipies-header-text p{
    color: #262626;
}

.food-container{
    width: 40%;margin: 0 5%;
    padding: 2%;
    border-radius: 30px;
    box-shadow: 10px 10px 40px gray;
}

.food-container img{
    width: 100%;
}

.recipie-title{
    font-size: 20px;
}

.subscribers-section{
    margin: 10% 5%;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    box-shadow: 10px 10px 40px gray;
   
}

footer{
    background-color: #262626;
    padding: 60px 0;
    text-align: center;
    margin-top: 100px;
}

footer p{
    color: #ddd;
}