body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 30px;
    color: gray;
}

.orange-color{
    color: orange;
}

.flexible-container{
    display: flex;
    align-items: center;
}

.half-width{
    width: 50%;
    padding: 5%;
}

.half-width p{
    margin-bottom: 30px;
}

.half-width img{
    width: 90%;
}

.btn{
    text-decoration: none;
    color: white;
    font-weight: 600;
    background: linear-gradient(to left, orange, tomato);
    padding: 15px 35px;
    border-radius: 30px;
    box-shadow: 5px 5px 20px orange;
}

.about-section{
    background-image: url(./images/shapes/58.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}